

.container {
    width: 1283px;
    margin: 0 auto;
}

a {
    text-decoration-line: none;
}

.logo {
    display: block;
    margin-top: 61px;
    margin-bottom: 45px;
    font-size: 80px;
    color: darkblue;
}

.logo-element {
    color: yellow;
}

.menu {
    background-color: darkolivegreen;
    margin-bottom: 40px;
    padding: 0 180px;
}

.menu-list-item {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    display: inline-block;
    padding: 20px;
    font-size: 28px;

}

.menu-list-item:hover {
    border-left-color: #f5f6f7;
    border-right-color: #f5f6f7;
    transition: all 0.4s ease;
    background-color: rgb(34, 47, 58);
    transition-duration: 2s;
}

.nav-bar-menu {
    font-family: 'Myriad Pro', sans-serif;
    color: #ffffff;
    font-size: 24px;
}

.left-box {
    border: 1px solid greenyellow;
    width: 30%;
    margin-right: 2.5%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}


.menu-two {
    font-family: 'Myriad Pro', sans-serif;
    color: #485863;
    font-size: 27px;
    border: 1px solid transparent;
    line-height: 79px;
    margin-left: 44px;
}

.left-box-item:hover {
    background-color: #dcdcdc;
    padding-left: 70px;
}

.menu-two:hover {
    color: black;
    transition-duration: 1s;
}

.right-box {
    width: 67%;
    box-sizing: border-box;
    border: 1px solid greenyellow;
    display: inline-block;
    padding: 75px 250px;
}

.image:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.content-text {
    display: block;
    width: 65%;
    font-family: 'Myriad Pro', sans-serif;
    color: purple;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 35%;
    margin-top: 1.5%;
}

.footer {
    background-color: rgb(181, 184, 187);
    margin: 30px 0;
}

.footer-menu {
    display: inline-block;
    width: 75%;
    margin-right: 5%;
    padding: 17px 0;
}

.footer-main {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    display: inline-block;
    font-family: 'Myriad Pro', sans-serif;
    padding-left: 18px;
    font-size: 28px;
}

.footer-item {
    color: #0c1927;
}

.footer-item:hover {
    color: #3181a6;
    text-decoration: none;
    border-bottom: 2px solid;
    transition-duration: 1s;
}

.content-copyright {
    font-family: 'Myriad Pro', sans-serif;
    color: #010000;
    font-size: 24px;
    display: inline-block;
    width: 18%;
}
